* {
    box-sizing: border-box;
}

body {
    font-family: 'Asap Condensed', sans-serif;
    position: relative;
}

h1 {
    font-size: 3.5em;
}

h2 {
    margin-top: 0px;
}

p {
    padding-bottom: 10px;
    color: #565756;
    font-size: 1.5em;
    text-align: justify;
}

footer p {
    text-align: center;
    font-size: 1em;
}

/* HEADLINE AFTER CLASS */


@media (max-width: 767px) {
    .standard .container {
        margin-right: 5px;
        margin-left: 5px;
    }
}

.section-header {
    border-bottom: 1px solid #aaa;
    margin: 15px 0;
    padding: 5px 0;
    position: relative;
}

.section-header:before,
.section-header:after {
    content: '';
    border-right: 20px solid #fff;
    border-top: 15px solid #aaa;
    bottom: -15px;
    position: absolute;
    left: 25px;
}

.section-header:after {
    border-top-color: #fff;
    border-right-color: transparent;
    bottom: -13px;
    left: 26px;
}

/* NAVBAR */

.navbar-default {
    background-color: #ED615E;
    border-color: #D85956;
    font-weight: 600;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #D85956;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-img {
    height: 200%;
    width: auto;
    margin-top:-20%;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

nav.shrink .navbar-nav>li>a {
    padding: 0.5em;
    transition: all 0.5s;
}

nav.navbar.shrink {
    min-height: 0;
}
nav.shrink .navbar-brand {
    display: none;
}


/* MAIN PAGE */

.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url("../images/background-image.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text {
    color: white;
    font-weight: 800;
    opacity: 0.9;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 45%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

@media (min-width: 767px) {
    .hero-text {
        font-size: 3.5em;
    }
}

@media (max-width: 767px) {
    .hero-text {
        font-size: 2.5em;
    }
}

footer {
    background: #ED615E;
    text-align: center;
}

.font-footer {
    margin-bottom: 0;
    color: white;
}

/* BUTTONS */

.btn {
    position: absolute;
    /*margin: 0;*/
    /*padding: 0;*/
    text-align: center;
    top: 65%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: #D85956;
    border-color: #ED615E;
}

.btn-primary {
    color: white;
    background-color: transparent;
    border-color: white;
}

/* IMAGES */

.img-rounded {
    border-radius: 150px;
}

.image-hero {
    padding-top: 10px;
}

.section-logo {
    margin: auto;
    height: auto;
    width: 200px;
    padding: 5px;
}
/* ICONS */

footer .fa {
    color:white;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* WOW EFFECT */

.large-header {
    position: relative;
    width: 100%;
    /*background: #333;*/
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}